<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>you have received a mail from the sites contact form, from 
        <%= " #{@name}, #{@email}" %> </p>
        <p><%= @body </p>
    </body>
</html>